<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day_19Dec_testng.ValidationInTestNG2"/>
      <class name="day_19Dec_testng.Example4"/>
      <class name="day_19Dec_testng.ValidationInTestNG"/>
      <class name="day_19Dec_testng.Example3"/>
      <class name="day_19Dec_testng.Example2"/>
      <class name="day_19Dec_testng.Example1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
